body { background: #7d39bf; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 55px; display: flex; }
.block-user-0 { color: #464d95; font-size: 16px; margin-bottom: 5px; }
.block-payment-1 { color: #ff9ba; font-size: 21px; margin-bottom: 5px; }
.block-logger-2 { color: #808cff; font-size: 16px; margin-bottom: 5px; }
.block-user-3 { color: #e43336; font-size: 21px; margin-bottom: 5px; }
.block-sms-4 { color: #7a70c0; font-size: 16px; margin-bottom: 5px; }
.block-token-5 { color: #a07da0; font-size: 14px; margin-bottom: 5px; }
.block-shipping-6 { color: #2746a2; font-size: 12px; margin-bottom: 5px; }